# Comment to a new issue.
issuesOpened: >
  Thank you for raising an issue. We will try and get back to you as soon as possible.

  Please make sure you have given us as much context as possible.

pullRequestOpened: >
  Thank you for raising your pull request.

  Please make sure you have followed our contributing guidelines. We will review it as soon as possible.

pullRequestClosed: >
  ë‹«í˜

pullRequestOpened: >
  Message when pull requests are opened .

pullRequestClosed: >
	Message when be shown when the issue is closed

pullRequestReviewRequested: >
	Message when be shown when a reviewer has been requested

pullRequestReviewRequestRemoved: >
	Message when be shown when a reviewer request has been removed

pullRequestLabeled: >
	Message when pullRequest are labeled

pullRequestUnlabeled: >
	Message when pullRequest are unlabeled

pullRequestEdited: >
	Message when pullRequest are edited

pullRequestClosed: >
	Message when pullRequest are closed

pullRequestReopened: >
	Message when pullRequest are reopened

pullRequestAssigned: >
	Message when pullRequests are assigned

pullRequestUnassigned : >
  Message when pullRequests are unassigned